<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TC le Mée sur Seine</title>
    <link rel="stylesheet" href="../assets/css/public.css">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
          <div>
            <img src="../assets/images/logo-tc-le-mee-2.png" alt="">
          </div>
          <ul>
            <li><a href="#">le club</a></li>
            <li><a href="#">enseignement</a></li>
            <li><a href="#">adhésions</a></li>
            <li><a href="#">compétition</a></li>
            <li><a href="#">actus</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </nav>
        <div>
          <img id="carrousel" src="../assets/images/carrousel/IMG_3594.jpg" alt="">
        </div>

        <div id="vignettes">
          <div class="balle" id="balle1"></div>
          <div class="balle" id="balle2"></div>
          <div class="balle" id="balle3"></div>
          <div class="balle" id="balle4"></div>
          <div class="balle" id="balle5"></div>
        </div>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
    <script src="my-timelinemax-animation.js"></script>
    <script src="../assets/js/public.js"></script>
</body>
</html>
